/* ------------------------------------------------------------------ */
/* Глобальные стили */
body{
	margin: 0px;
	padding: 0px;
	background: #fff;
}

*{
	font-family:Helvetica,Arial;
	font-weight: lighter;
	color: #666;
	font-size: 14px;
	line-height: 140%;
}

img{
	border: 0px !important;
}

table{
	border:0px;
	border-collapse:collapse;
}

table td{
	padding:0px;
}

a{
	text-decoration: underline;
	cursor: pointer;
}

a:hover{
	text-decoration: none;
	border-bottom: 0px;
}

h3{
	font-size: 16px;
	margin: 5px 0px 5px 0px;
	padding: 0px;
	font-weight: bold;
}

.clr{
	clear: both;
}

/* ------------------------------------------------------------------ */
#wrapper {
	position: absolute;
	width: 1000px;
	min-height: 100%;
	left: 50%;
	margin-left: -500px;
	border: 1px solid #000;	
}

#header, #footer {
	min-height: 100px;
}
#footer {
	height: 100px;
}

#banner {
	height: 80px;
	margin-bottom: 15px;
	background: #666;
}

#nav {
	height: 60px;
	margin-bottom: 15px;
	background: #777;
}

#logo {
	width: 22%;
	background: #888;
}

#menu {
	width: 50%;
	background: #999;
}

#login {
	width: 28%;
	background: #bbb;
}


#search {
	background: #aaa;
}

.container {
	position: relative;
	width: 100%;
	background: #666;
}
.container_right {
	position: relative;
	width: 25%;
	float: right;
	background: #eea;
}
.container_left {
	position: relative;
	width: 75%;
	float: left;
	background: #aee;
}

.float_block {
	position: relative;
	height: 100%;
	float: left;
	background: #666;
}

.about {
	width: 25%;
	background: #123;
}

.feedback {
	width: 30%;	
	background: #321;
}

.twitter {
	width: 45%;	
	background: #333;
}

.page_title {
	position: relative;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	margin: 0px 25px 15px;	
}

/* Top news ---------------------------------------------- */
.news_top, .news_last, .glossary_search {
	background: none;	
}
.news_list {
	position: relative;
	float :left;
	width: 28%;
	padding: 40px 25px 0px;
}

.news_list .list_title {
	position: relative;
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.news_list .list_img {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	height: 160px;
	display: block;
	overflow: hidden;
} .news_list .list_img img {
	width: 100%;
}
.news_list .list_soc {
	position: relative;
}
.news_list .list_com {
	
}
.news_list .list_view {
	float: left;
	margin-right: 10px;
}

/* Last news ---------------------------------------------- */
.news_list_last {
	position: relative;
	margin: 0px 25px 30px;
}
.news_list_last .list_title {
	font-size: 18px;
	padding-bottom: 5px;
	display: block;
}
.news_list_last .list_date {
	color: #999;
	fontsize: 12px;
	margin: 0px 0px 15px;
}
.news_list_last .list_img {
	position: relative;
	margin: 0px 1% 10px 0px;
	width: 24%;
	float: left;
	height: 90px;
	overflow: hidden;
}
.news_list_last .list_img img {
	width: 100%;
}
.news_list_last .list_read {
	margin-bottom: 10px;
	display: block;
	width: 130px;
	clear: both;
}
.news_list_last .list_descr {
	width: 75%;
	float: left;
}
.news_list_last .list_text {
	width: 100%;
	margin-bottom: 20px;
}
.news_list_last .list_soc {
	width: 100%;
        display: table;
	margin-bottom: 25px;
	clear: both;
	border: 1px solid #000;
}
.news_list_last .list_soc .left{
	left: 0;
}
.news_list_last .list_view, .news_list_last .list_com, .news_list_last .list_author,
.news_list_last .vote_good, .news_list_last .vote_bad, .news_list_last .vote_title {
	float: left;
	margin: 10px;
}
.news_list_last .list_likes {
	clear: both;
	min-height: 30px;
}
.news_list_last .tags {
	float: left;
}
.news_list_last .shares {
	float: right;
}


/* Glossary ---------------------------------------------- */
.glossary {
	background: none;
        border-bottom: 1px solid #e9e9e9;
}
.glossary_list {
	position: relative;
	float :left;
	width: 28%;
	padding: 40px 25px 0px;
        margin-bottom: 25px;
}

.glossary_list .list_title {
	position: relative;
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.glossary_list .list_img {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	height: 160px;
	display: block;
	overflow: hidden;
} .glossary_list .list_img img {
	width: 100%;
}
.alphabet form {
    position: absolute;
}

/* Glossary single ---------------------------------------------- */
.glossary_single {
	position: relative;
	float :left;
	padding: 20px 25px 200px;
        margin-bottom: 25px;
}

.glossary_single .list_img {
	position: relative;
	margin-bottom: 20px;
	width: 50%;
	min-height: 160px;
	display: block;
	overflow: hidden;
}

.glossary_single .photos {
    width: 100%;
    margin: 20px 0px;
    border: 1px solid #000;
    min-height: 370px
}

/* Glossary search ----------------------------------------------- */
.gsearch .glossary_list {
        width: 38%;
}
.gsearch .glossary_search {
    border: none;
    border-left: 2px solid #999;
}
/* Glossary letter search ---------------------------------------------- */
.search_letter_block {
    margin-bottom: 25px;
}
.search_letter_block a { 
    color: blue;
}
.alphabet_search {
    border: 1px solid #000;
    display: table;
    width: 80%;
    margin: auto;
}
.alphabet {
    margin: 5px 25px;
    width: 100%;
}
.alphabet span {
    margin-right: 20px;
}
#search_by_letter a {
    text-decoration: none;
    color: #000;
    display: inline-block;
} #search_by_letter a:hover {
    text-decoration: underline;
    color: blue;
} #search_by_letter a.active {
    text-decoration: underline;
    color: blue;
}

/* Glossary search block ---------------------------------------------- */
.glossary_search {
    padding: 20px 25px;
    width: auto;
    border: 1px solid #000;
}
.glossary_search .page_title {
    margin: 0px 0px 15px;	
}
.glossary_search .character {
    margin-bottom: 20px;
}
.glossary_search .character span {
    position: relative;
    right: 20%;
    float: right;
}
.glossary_search .character a {
    display: inline-block;
    margin: 0px 1px;
}
.glossary_search .category_block {
    margin-bottom: 20px;
}
.category_block select {
    margin: 0;
    width: 80%;
}

/* More buttons ---------------------------------------------- */
.more {
	margin: 40px 0px 60px;
	clear: both;
	background: none;
}

.more_btn {
	position: relative;
	min-width: 100px;
	width: 20%;
	margin: auto;
	height: 40px;
	cursor: pointer;
	background: red;
}

/* Right news block ---------------------------------------------- */
.news_block {
	background: none;
	padding: 0 10%;
	width: 80%;
}
.right_block {
	margin-bottom: 20px;
}
.news_block .block_title {
	margin-bottom: 14px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}
.news_block .block_link {
	position: relative;
	margin: 10px 0px;
	display: block;
	text-decoration: underline;
} .news_block .block_link:hover {
	text-decoration: none;
}
.news_block .block_text {
	
}

/* Add Classes ------------------------------------------------- */
.radius {
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


/* Media ------------------------------------------------- */
@media screen and (max-width: 1010) {
	#wrapper {
		left: 0;
		margin-left: 0;
	}
}
